<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>pm.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>pm.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>pm.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>pm.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>pm.servlet.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModalServlet</servlet-name>
        <servlet-class>pm.servlet.ModalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHomeServlet</servlet-name>
        <servlet-class>pm.servlet.LoginHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>pm.servlet.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>pm.servlet.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectBookingServlet</servlet-name>
        <servlet-class>pm.servlet.RejectBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServiceServlet</servlet-name>
        <servlet-class>pm.servlet.CancelServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccecptCancelBookingServlet</servlet-name>
        <servlet-class>pm.servlet.AccecptCancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>pm.servlet.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModalStaffServlet</servlet-name>
        <servlet-class>pm.servlet.ModalStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayStaffServlet</servlet-name>
        <servlet-class>pm.servlet.PayStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVehicleServlet</servlet-name>
        <servlet-class>pm.servlet.addVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVehicleServlet</servlet-name>
        <servlet-class>pm.servlet.deleteVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unblockServlet</servlet-name>
        <servlet-class>pm.servlet.unblockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteVehicleServlet</servlet-name>
        <servlet-class>pm.servlet.adminDeleteVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelPreServiceServlet</servlet-name>
        <servlet-class>pm.servlet.cancelPreServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModalServlet</servlet-name>
        <url-pattern>/ModalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHomeServlet</servlet-name>
        <url-pattern>/loginHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/payServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updateStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectBookingServlet</servlet-name>
        <url-pattern>/rejectBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServiceServlet</servlet-name>
        <url-pattern>/cancelServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccecptCancelBookingServlet</servlet-name>
        <url-pattern>/accecptCancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModalStaffServlet</servlet-name>
        <url-pattern>/modalStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayStaffServlet</servlet-name>
        <url-pattern>/payStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVehicleServlet</servlet-name>
        <url-pattern>/addVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteVehicleServlet</servlet-name>
        <url-pattern>/deleteVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unblockServlet</servlet-name>
        <url-pattern>/unblockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteVehicleServlet</servlet-name>
        <url-pattern>/adminDeleteVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelPreServiceServlet</servlet-name>
        <url-pattern>/cancelPreServiceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
